@import "tailwindcss";

/* Logo text */
.logo-text {
    font: 700 2rem 'Arial', sans-serif;
    background: linear-gradient(45deg, #ff4d4d, #ff9f1a, #ffcd1a, #4dff4d, #1a9fff, #9f1aff);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Scrollbar color */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #3333e7;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3333e7;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #22d3ee;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #3333e7 #18181b;
}